<br/>
<h2 class= "step"> Step <%= params[:step] %> </h2> 
  <%= form_tag questions_path,:method=>:post do %>
  <table class="table table-striped">  
    <tbody>
        <% @questions.each_with_index do |course,index| %>
          <tr>        
            <td><%=index+1%></td>
            <td ><%= course.question %></td>
            <td><%= radio_button_tag "answer[#{course.id}]",1,false,{:class=>"star"} %></td>
            <td><%= radio_button_tag "answer[#{course.id}]",2,false,{:class=>"star"} %></td>
            <td><%= radio_button_tag "answer[#{course.id}]",3,false,{:class=>"star"} %></td>
            <td><%= radio_button_tag "answer[#{course.id}]",4,false,{:class=>"star"} %></td>
            <td><%= radio_button_tag "answer[#{course.id}]",5,false,{:class=>"star"} %></td>
          </tr>
        <% end %>      
    </tbody>
  </table>
  <%= hidden_field_tag :step, params[:step]%>
  <%= submit_tag 'Next',:class=>"btn"%>
<% end %>

<br>

