<%- model_class = Hhcode -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:doers) %>:</strong></dt>
  <dd><%= @hhcode.doers %></dd>
  <dt><strong><%= model_class.human_attribute_name(:persuaders) %>:</strong></dt>
  <dd><%= @hhcode.persuaders %></dd>
  <dt><strong><%= model_class.human_attribute_name(:helpers) %>:</strong></dt>
  <dd><%= @hhcode.helpers %></dd>
  <dt><strong><%= model_class.human_attribute_name(:creators) %>:</strong></dt>
  <dd><%= @hhcode.creators %></dd>
  <dt><strong><%= model_class.human_attribute_name(:thinkers) %>:</strong></dt>
  <dd><%= @hhcode.thinkers %></dd>
  <dt><strong><%= model_class.human_attribute_name(:organizers) %>:</strong></dt>
  <dd><%= @hhcode.organizers %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              hhcodes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_hhcode_path(@hhcode), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              hhcode_path(@hhcode),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
