<h1>Listing personalities</h1>

<table>
  <tr>
    <th>Doers</th>
    <th>Thinkers</th>
    <th>Creators</th>
    <th>Helpers</th>
    <th>Persuaders</th>
    <th>Organizers</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personalities.each do |personality| %>
  <tr>
    <td><%= personality.doers %></td>
    <td><%= personality.thinkers %></td>
    <td><%= personality.creators %></td>
    <td><%= personality.helpers %></td>
    <td><%= personality.persuaders %></td>
    <td><%= personality.organizers %></td>
    <td><%= link_to 'Show', personality %></td>
    <td><%= link_to 'Edit', edit_personality_path(personality) %></td>
    <td><%= link_to 'Destroy', personality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Personality', new_personality_path %>
